.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    height:30px;
    display: flex;
    justify-content: space-between;

    transition-timing-function: ease-in;
    transition: all 0.5s;


}

.dev {
    font-size: 15px;
    color: white;
}

.nav_logo {
    object-fit: contain;
    width: 150px;

    left: 20px;
    
}

.nav_avatar {
    object-fit: contain;
    width: 100px;
    height: 35px;

    right: 20px;
    padding-right: 20px;
    
}

.nav_black {
    background-color: #112; /* was 111 everywhere including app bg */
}